@charset "utf-8";
/* CSS Document */

 body {
	background-color: #001D06;
	margin-left: 20px;
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
}
    .carelessBrown {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: 600;
	color: #677865;
}
    h6 {
	font-size: 13px;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 21px;
	color: #b2bfaa;
	
}
#container header .h1Special {
	color: #9e8c69;
	font-size: 20px;
	font-weight: 700;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
